# Day 2

## Introduction

- Low level Programming Language
  C Programming, COBOL, FORTON
- High level Programming Language
  C++, JAVA, Python, JavaScript

  Compiler / Interpreter

  Python is a Interpreter langauage

  Python second most used programming language (Stackoverflow) -- larger community
  - Easily understandable language

  - R Programming (Statistics)
  - Julia Programming

## Data types

### Numbers

 - Integer - 2, 676, 8979
 - Floating Point - 1.2, 3.4
 - Double Precision - 1.6758565875658 # Not in python

In [2]:
2 + 4 # operand and operators

6

In [3]:
2 * 3

6

In [4]:
4 / 2

2.0

In [7]:
2 ** 7 # power

128

In [8]:
4 % 2 # modulo - remainder

0

In [9]:
5 % 2

1

In [10]:
# BODMAS Rule

In [11]:
(2 + 3) * (5 + 5)

50

### Strings

 - Occurence of characters

In [15]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [20]:
'This is you"rs Day 2 session'

'This is you"rs Day 2 session'

### Variable Assignment

- Placeholder for datatype
- Store Data

1. Should not start with number or special characters in beginning
2. Should not use any keywords

In [23]:
adaovi123 = "This is the second intern session"

In [24]:
adaovi123

'This is the second intern session'

In [28]:
FirstNumber = 2
second_number = 3

In [29]:
z = FirstNumber + second_number

In [30]:
z

5

In [ ]:
CamelCase = 4
snake_case = 5

### Keywords

- Reserved words which cannot be used as regular variable names
- Eg : in for while if else

In [2]:
in for while if else

### Printing

In [3]:
x = 'abc'

In [4]:
x

'abc'

In [5]:
print(x)

abc

In [10]:
num = 89
name = 'Adaovi'

In [12]:
print(f"My favourite number is: {num}, and my name is: {name} and {name}")

My favourite number is: 89, and my name is: Adaovi and Adaovi

In [ ]:
print("My favourite number is: {one}, and my name is: {two}")

In [14]:
print('My favourite number is: {one}, and my name is: {two}'.format(one=num,two=name))

My favourite number is: 89, and my name is: Adaovi

In [8]:
print('My favourite number is: {}, and my name is: {}'.format(num,name))

My favourite number is: 7, and my name is: Adaovi

In [ ]:
# Formatted Strings
print(f"My favourite number is: {num}, and my name is: {name}")

### Lists

- Represented in Square brackets []
- Lists can be mutable (changed/updated)

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
["hello", 1, 2, 3]

['hello', 1, 2, 3]

In [18]:
['hi',1,[1,2]] # nested list

['hi', 1, [1, 2]]

In [19]:
my_list = ['a','b','c']

In [20]:
my_list

['a', 'b', 'c']

In [21]:
my_list.append('d') #add

In [22]:
my_list

['a', 'b', 'c', 'd']

## Indexing

In [23]:
my_list[0]

'a'

In [26]:
my_list[3]

'd'

In [27]:
my_list[1:]

['b', 'c', 'd']

In [30]:
my_list[:2]

['a', 'b']

In [31]:
my_list

['a', 'b', 'c', 'd']

In [32]:
my_list[0] = 'NEW'

In [37]:
my_list.append('f')
my_list.append('h')
my_list.append('i')
my_list.append('o')

In [38]:
my_list

['NEW', 'b', 'c', 'd', 'f', 'h', 'i', 'o']

In [45]:
my_list[1:7:2]

['b', 'd', 'h']

In [102]:
my_list

['NEW', 'b', 'c', 'd', 'f', 'h', 'i', 'o']

In [108]:
my_list[0:6:2]

['NEW', 'c', 'f']

In [ ]:
my_list[1:3] # [start:stop:step]

## Nested Lists

In [46]:
nest = [1,2,3,[4,5,['target',223]]]

In [47]:
nest

[1, 2, 3, [4, 5, ['target', 223]]]

In [54]:
nest[3][2][0]

'target'

### Dictionaries - key value pair

- {key:value, key:value}
- JSON

In [57]:
d = {'username':'password','key2':'value2'}

In [58]:
d

{'username': 'password', 'key2': 'value2'}

In [60]:
d['key2']

'value2'

### Booleans

In [61]:
True

True

In [63]:
False

False

### Tuples

 - Paranthesis ()
 - Tuples are immutable (cannot be updated)

In [64]:
t = (1,2,3)

In [66]:
t[0]

1

In [67]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

- {}
- Doesn't hold any repeated value

In [68]:
sets = {1,2,3}

In [69]:
sets

{1, 2, 3}

In [70]:
sets = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [71]:
sets

{1, 2, 3}

In [72]:
lists = [1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]

In [112]:
lists

[1, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2]

In [115]:
lists.remove(3)

In [116]:
lists

[1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2]

## Comparison Operators

In [74]:
1 > 2

False

In [75]:
1 < 2

True

In [76]:
1 >= 1

True

In [77]:
1 <= 4

True

In [78]:
1 == 1

True

In [ ]:
Adavoi = 1
adavoi = 1

In [80]:
'a' == 'a'

True

 - Case sensitive - Difference between Upper case and lower case
 - ASCII code - American Standard Code for Information Interchange

In [82]:
'Hi' == 'hi'

False

## Logical Operators

- and --> everything should be true
- or --> any one should be true

In [83]:
(1 > 2) and (2 < 3)

False

In [84]:
(1 > 2) or (2 < 3)

True

In [86]:
(1 == 2) or (2 == 3) or (4 == 4)

False

In [87]:
(1 == 1) and (2 == 2) and (4 == 4)

True

## Conditional Statements

## if,elif, else Statements

In [88]:
# if condition:
#     block of code
# elif condition:
#     block of code
# else:
#     code

In [91]:
if 1 < 2:
    print('Yep!')
    print("one")

Yep!
one

In [93]:
if 3 < 2:
    print("you're right")
else:
    print('sorry your wrong')

sorry your wrong

In [94]:
if 1 > 2:
    print("you're right")
else:
    print('sorry your wrong')

sorry your wrong

In [99]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('middle1')
elif 5 == 5:
    print('middle22')
else:
    print('last')

middle1