# DataFrames

DataFrames are the workhorse of pandas. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [60]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [61]:
df

          W         X         Y         Z
A -0.775821 -0.939392  0.573855 -0.781930
B  0.914511  0.879281 -1.517642 -0.365040
C  0.232138  2.030960 -0.319515 -1.299948
D -0.213703  1.375971  0.255559  0.161005
E -0.464646  0.943101  1.276391  0.326258

## Selection and Indexing

In [7]:
df['W']

A    1.318818
B    1.756944
C   -0.164322
D    0.534640
E    0.520999
Name: W, dtype: float64

In [8]:
# Pass a list of column names
df[["W", "Y"]]

          W         Y
A  1.318818  0.396339
B  1.756944 -0.728939
C -0.164322 -0.262209
D  0.534640 -0.251954
E  0.520999  0.784121

In [9]:
# SQL Syntax
df.W

A    1.318818
B    1.756944
C   -0.164322
D    0.534640
E    0.520999
Name: W, dtype: float64

DataFrame Columns are just Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [12]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
B  1.756944  0.088363 -0.728939  0.843805
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [13]:
df['new_column'] = df['W'] + df['Z']

In [14]:
df

          W         X         Y         Z  new_column
A  1.318818  0.584224  0.396339  1.039732    2.358550
B  1.756944  0.088363 -0.728939  0.843805    2.600749
C -0.164322 -0.076279 -0.262209 -1.678319   -1.842641
D  0.534640  0.845691 -0.251954 -0.126862    0.407778
E  0.520999 -0.137253  0.784121 -0.163384    0.357615

**Removing Columns**

In [15]:
df.drop('new_column', axis=1) # axis = 1 represent column, axis =0 represent row

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
B  1.756944  0.088363 -0.728939  0.843805
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [16]:
df.drop('B', axis=0)

          W         X         Y         Z  new_column
A  1.318818  0.584224  0.396339  1.039732    2.358550
C -0.164322 -0.076279 -0.262209 -1.678319   -1.842641
D  0.534640  0.845691 -0.251954 -0.126862    0.407778
E  0.520999 -0.137253  0.784121 -0.163384    0.357615

In [17]:
df

          W         X         Y         Z  new_column
A  1.318818  0.584224  0.396339  1.039732    2.358550
B  1.756944  0.088363 -0.728939  0.843805    2.600749
C -0.164322 -0.076279 -0.262209 -1.678319   -1.842641
D  0.534640  0.845691 -0.251954 -0.126862    0.407778
E  0.520999 -0.137253  0.784121 -0.163384    0.357615

In [18]:
df.drop('new_column', axis=1, inplace=True)

In [19]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
B  1.756944  0.088363 -0.728939  0.843805
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [20]:
df.drop('B', axis=0, inplace=True)

In [21]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

### **Selecting Rows - Loc and iloc**

loc - location 
iloc - integer based location

In [24]:
df.loc['E']

W    0.520999
X   -0.137253
Y    0.784121
Z   -0.163384
Name: E, dtype: float64

Or select based off of position instead of label

In [25]:
df.iloc[3]

W    0.520999
X   -0.137253
Y    0.784121
Z   -0.163384
Name: E, dtype: float64

**Selecting subset of rows and columns**

In [26]:
df.loc['D','Y']

-0.2519538798762182

In [28]:
df1 = df.loc[['A','C'],['W','X']]

In [29]:
df1

          W         X
A  1.318818  0.584224
C -0.164322 -0.076279

In [30]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [33]:
df.iloc[3,0]

0.5209988774217539

### Conditional Selection

In [34]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [35]:
df>0

       W      X      Y      Z
A   True   True   True   True
C  False  False  False  False
D   True   True  False  False
E   True  False   True  False

In [38]:
df[df>0]

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C       NaN       NaN       NaN       NaN
D  0.534640  0.845691       NaN       NaN
E  0.520999       NaN  0.784121       NaN

In [39]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [40]:
df[df['W']>0]

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [41]:
df[df['W']>0]['Y']

A    0.396339
D   -0.251954
E    0.784121
Name: Y, dtype: float64

In [44]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.396339  0.584224
D -0.251954  0.845691
E  0.784121 -0.137253

For two conditions you can use | and & with parenthesis:

and - if all conditions are satisfied (&)
or - if any one condition is satisfied (|)

In [45]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [53]:
df1 = df[(df['W']>0) | (df['Y'] > 1)]

In [54]:
df1

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [55]:
df1[['W','Z']]

          W         Z
A  1.318818  1.039732
D  0.534640 -0.126862
E  0.520999 -0.163384

## More Index Details

In [56]:
df

          W         X         Y         Z
A  1.318818  0.584224  0.396339  1.039732
C -0.164322 -0.076279 -0.262209 -1.678319
D  0.534640  0.845691 -0.251954 -0.126862
E  0.520999 -0.137253  0.784121 -0.163384

In [64]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z States
0     A -0.775821 -0.939392  0.573855 -0.781930     CA
1     B  0.914511  0.879281 -1.517642 -0.365040     NY
2     C  0.232138  2.030960 -0.319515 -1.299948     WY
3     D -0.213703  1.375971  0.255559  0.161005     OR
4     E -0.464646  0.943101  1.276391  0.326258     CO

In [58]:
newind = 'CA NY WY OR CO'.split()

In [62]:
df['States'] = newind

In [63]:
df

          W         X         Y         Z States
A -0.775821 -0.939392  0.573855 -0.781930     CA
B  0.914511  0.879281 -1.517642 -0.365040     NY
C  0.232138  2.030960 -0.319515 -1.299948     WY
D -0.213703  1.375971  0.255559  0.161005     OR
E -0.464646  0.943101  1.276391  0.326258     CO

In [65]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.775821 -0.939392  0.573855 -0.781930
NY      0.914511  0.879281 -1.517642 -0.365040
WY      0.232138  2.030960 -0.319515 -1.299948
OR     -0.213703  1.375971  0.255559  0.161005
CO     -0.464646  0.943101  1.276391  0.326258

In [66]:
df

          W         X         Y         Z States
A -0.775821 -0.939392  0.573855 -0.781930     CA
B  0.914511  0.879281 -1.517642 -0.365040     NY
C  0.232138  2.030960 -0.319515 -1.299948     WY
D -0.213703  1.375971  0.255559  0.161005     OR
E -0.464646  0.943101  1.276391  0.326258     CO

In [67]:
df.set_index('States', inplace=True)

In [68]:
df

               W         X         Y         Z
States
CA     -0.775821 -0.939392  0.573855 -0.781930
NY      0.914511  0.879281 -1.517642 -0.365040
WY      0.232138  2.030960 -0.319515 -1.299948
OR     -0.213703  1.375971  0.255559  0.161005
CO     -0.464646  0.943101  1.276391  0.326258